/*background*/
body {
    background-color: rgb(240, 234, 245);
  }
/**/

/*titles*/
h1 {
    color: darkcyan;
    font-family: serif;
    font-weight: 800;
  }

h3 {
    color: rgb(105, 92, 116);
    font-family: serif;
    font-weight: 800;    
    font-size: 35px;

  }
/**/

h5 {
  text-align: center;
}

/*alignment*/
.alignleft {
  float: left;
  margin: 10px;
}

.textaligncenter {
  text-align: center;
}
/*navbar*/
.nav-item {
    color: rgb(190, 180, 206);
  }
/**/

.navbar-light {
  background-color:rgb(208, 200, 221);
}

.navbar-dark {
  background-color: rgb(105, 92, 116)
}

/*main*/
.container {
  background-color: white ;
  margin-top: 25%;
}

.about {
  text-align: center;
  color: rgb(105, 92, 116);
}
/**/

/*footer*/
footer {
  background-color: white;
}

.footertext {
  color: darkcyan;
  background-color: white;
}

.footer-light {
  background-color: rgb(208, 200, 221);
}

.footerlink {
  color: lightslategray;
}
/**/

.portfolio-pic {
  width: 700px
}


/*media-queries*/
@media (max-width: 550px) {
.containermain { max-width: 400px;}
.containerportfolio { max-width: 400px;}
}

@media (min-width: 550px) {
.containermain { max-width: 500px}
.containerportfolio { max-width: 600px;}
}

@media (min-width: 950px) {
.containermain { max-width: 600px}
.containerportfolio { max-width: 800px;}
}
    /*portfolio image size*/
    @media screen and (max-width: 950px) {
    img.responsive { width: 200px;}
    img.responsive { height: auto;}
    }

    @media screen and (min-width: 950px) {
    img.responsive { width: 600px;}
    img.responsive { height: auto;}
    }
/**/