/*background*/
body {
    background-image: url("https://files.slack.com/files-pri/T013NAE6PDY-F01451KKCNB/gtpfbg.png");
    background-repeat: repeat;    
  }
/**/

/*titles*/
h1 {
    color: darkcyan;
    font-family: serif;
    font-weight: 800
  }

h3 {
  color: white;
    font-family: serif;
    font-weight: 800;
    background-color: darkcyan;
  }
/**/

/*alignment*/
.alignleft {
  float: left;
  margin: 10px;
}

.textaligncenter {
  text-align: center;
}
/*navbar*/
.nav-item {
    color: darkcyan;
  }
/**/

/*main*/
.container {
    background-color: white ;
    position: relative;
    margin-top: 25%;
  }
/**/

/*footer*/
footer {
background-color: rgb(248, 245, 245);
}

.footertext {
  color: darkcyan;
  background-color:  rgb(248, 245, 245);
}

.footerlink {
  color: lightslategray;
}
/**/

/*media-queries*/
@media (max-width: 550px) {
.containermain { max-width: 400px;}
.containerportfolio { max-width: 400px;}
}

@media (min-width: 550px) {
.containermain { max-width: 500px}
.containerportfolio { max-width: 600px;}
}

@media (min-width: 950px) {
.containermain { max-width: 600px}
.containerportfolio { max-width: 500px;}
}
    /*portfolio image size*/
    @media screen and (max-width: 950px) {
    img.responsive { width: 200px;}
    img.responsive { height: auto;}
    }

    @media screen and (min-width: 950px) {
    img.responsive { width: 350px;}
    img.responsive { height: auto;}
    }
/**/